__pycache__/
*.py[cod]
*.pyo
*.pyd
.git/
.gitignore
.vscode/
.venv/
venv/
.env
.env.*
.pytest_cache/
.mypy_cache/
coverage.xml
htmlcov/
.DS_Store
.idea/
*.log
*.sqlite3
*.db
*.bak
node_modules/
**/chroma_db/
**/.ipynb_checkpoints/
**/.pytest_cache/
